<h3>{{ .Get "booktitle" }}</h3>
<div style="color: gray;text-transform: uppercase; font-size: 0.8em">
  {{ .Params.bookdate | dateFormat "Jan 2006"}} - {{ .Params.bookauthor }}  -  {{ .Params.bookpublisher }} - {{ .Params.booklanguage }} 
  </div>
<div class="mx-auto flex flex-row space-x-4 w-full">
<div class="flex-none" >
  <img src="{{ .Get "bookcover" }}" width="250">
</div>
<div class="sm:px-12 md:px-12 pt-6">
    <p>{{ .Get "bookdescription" }}</p>
    <p><a href="{{ .Get "booklink" }}">See more</a></p>
</div>
</div>
